{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <link rel="stylesheet" href="{% static 'blog/main.css' %}" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {% if title %}
            <title>NewsAPI Blog - {{ title }}</title>

        {% else %}
            <title>NewsAPI Blog</title>

        {% endif %}
    </head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'index' %}">NewsAPI Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'apiview' %}">Phase-1</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">

                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'fetchdata' %}">Fetch Data</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Settings</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

                    {% else %}

                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">

            {% if messages %}
                {% for message in messages %}

                    <div class="alert alert-{{ message.tags }}">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}


            {% block content %}
                Replace Content here ///
            {% endblock %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}
    </div>
</main>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $('.selectpicker').selectpicker();
  $('.selectpicker').selectpicker('refresh')
</script>

{% block extra_js %}
{% endblock extra_js %}

</body>
</html>